@layer components {
	.Countdown {
		@apply absolute top-1 right-1 w-6 h-6 opacity-80;

		&__text {
			@apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-xs font-body-medium;
		}

		&__spinner {
			transform: rotateY(-180deg) rotateZ(-90deg);
			@apply w-6 h-6;

			circle {
				stroke-dasharray: 62px;
				stroke-dashoffset: 0px;
				stroke-linecap: round;
				stroke-width: 2px;
				stroke: white;
				fill: none;
				animation: countdown 5.3s linear 1 forwards;
			}

			@keyframes countdown {
				from {
					stroke-dashoffset: 0px;
				}
				to {
					stroke-dashoffset: 62px;
				}
			}
		}
	}
}
