@layer components {
	.react-calendar {
		&__tile {
			@apply bg-app-dark-primary bg-opacity-10;

			&--active,
			&--now {
				@apply bg-opacity-80;

				abbr {
					@apply text-opacity-100;
				}
			}

			&, abbr {
				@apply text-app-light-primary text-opacity-80;
			}
		}

		&__navigation {
			@apply flex items-center gap-2;

			&__arrow {
				@apply flex justify-center items-center rounded-full p-1 w-6 h-6 bg-app-dark-primary bg-opacity-10;
				@apply text-app-light-primary text-opacity-80;
				@apply transition duration-200 ease-out;
				@apply hover:bg-app-dark-quaternary hover:bg-opacity-40 hover:text-opacity-100 focus:outline-none focus:shadow-gradient-focus;
			}

			&__prev2-button {
			}

			&__prev-button {
			}

			&__label {
				@apply rounded-full bg-app-dark-primary bg-opacity-0 hover:bg-opacity-40;
				@apply focus:outline-none focus:shadow-gradient-focus;

				&__labelText {
					@apply text-sm text-app-light-primary;
				}
			}

			&__next-button {
			}

			&__next2-button {
			}
		}

		&__viewContainer {
			@apply mt-3;
		}

		&__month-view {
			&__weekdays {
				@apply flex justify-between mb-2;

				&__weekday {
					@apply flex justify-center items-center;

					abbr {
						@apply text-xs text-app-light-secondary no-underline;
					}
				}
			}

			&__days {
				@apply gap-2;

				&__day {
					flex-basis: calc(100% / 7 - 6 * theme("spacing.2") / 7) !important;
					max-width: calc(100% / 7 - 6 * theme("spacing.2") / 7) !important;
					@apply flex justify-center items-center rounded-full;
					@apply focus:outline-none focus:shadow-gradient-focus;

					&::after {
						content: "";
						padding-bottom: 100%;
						@apply block;
					}

					&--marked {
						@apply relative bg-app-dark-quaternary bg-opacity-40;

						&.react-calendar__month-view__days__day--neighboringMonth {
							@apply bg-opacity-40;

							.markers {
								@apply opacity-40;
							}
						}

						abbr {
							@apply mb-1;
						}

						.markers {
							@apply absolute -bottom-0.5 flex flex-row justify-between;

							.marker {
								@apply text-xs;

								&--inc {
									@apply text-app-accent-green;
								}

								&--exp {
									@apply text-app-accent-red;
								}

								&--not {
									@apply text-app-accent-blue;
								}
							}
						}
					}

					&--neighboringMonth {
						@apply bg-app-dark-tertiary bg-opacity-10;

						abbr {
							@apply text-app-light-tertiary text-opacity-50;
						}
					}

					abbr {
						@apply text-xs;
					}
				}
			}
		}

		&__year-view {
			&__months {
				@apply gap-2;

				&__month {
					flex-basis: calc(100% / 3 - 2 * theme("spacing.2") / 3) !important; 
					max-width: calc(100% / 3 - 2 * theme("spacing.2") / 3) !important; 
					@apply rounded py-2 text-sm;
				}
			}
		}

		&__decade-view {
			&__years {
				@apply gap-2;

				&__year {
					flex-basis: calc(100% / 3 - 2 * theme("spacing.2") / 3) !important; 
					max-width: calc(100% / 3 - 2 * theme("spacing.2") / 3) !important; 
					@apply rounded py-2 text-sm;
				}
			}
		}

		&__century-view {
			&__decades {
				@apply gap-2;

				&__decade {
					flex-basis: calc(100% / 3 - 2 * theme("spacing.2") / 3) !important; 
					max-width: calc(100% / 3 - 2 * theme("spacing.2") / 3) !important; 
					@apply rounded py-2 text-sm;
				}
			}
		}
	}
}
