@layer components {
	.Field {
		@apply mb-2;
		
		&__Caption {
			@apply text-app-light-tertiary;
		}

		&--Text {
			@apply relative rounded p-1 bg-app-dark-quinternary bg-opacity-40 transition-all duration-200 ease-out;

			&:focus-within,
			&.has-value {
				@apply pt-6;
			}

			&__Input {
				@apply rounded p-2 w-full bg-app-dark-quinternary bg-opacity-0 outline-none text-app-light-primary;
				@apply transition-all duration-200 ease-out hover:bg-opacity-40;

				&:focus,
				&.has-value {
					@apply bg-opacity-40;

					& ~ [class*="_Label"] {
						@apply top-1 left-1 text-xs;
					}
				}
			}

			&__Label {
				@apply absolute top-3 left-3 text-base text-app-light-tertiary text-opacity-70;
				@apply transition-all duration-200 ease-out;
			}
		}

		&--Checkbox {
			&__Options {
				@apply mt-1 p-1;
			}

			&__Option {
				@apply flex items-center gap-1 mb-1 rounded p-2 transition-all duration-200 ease-out;

				&:hover,
				&:focus-within {
					@apply bg-app-light-primary bg-opacity-5;

					[class*="Label"] {
						@apply text-opacity-100;
					}
				}
			}

			&__Input {
				color-adjust: exact;
				background-origin: border-box;
				@apply appearance-none select-none inline-block flex-shrink-0 align-middle;
				@apply border border-app-light-tertiary border-opacity-80 rounded-sm w-3 h-3 bg-app-light-secondary bg-opacity-20;
				@apply text-app-dark-quaternary focus:outline-none focus:shadow-input-focus transition-all duration-200 ease-out;

				&:checked {
					background-image: env(--check-icon);
					background-size: 100% 100%;
					@apply bg-no-repeat bg-center border-app-light-primary border-opacity-100 bg-current;
				}
			}

			&__Label {
				@apply w-full text-sm text-app-light-secondary text-opacity-70 transition-colors duration-200 ease-out;
			}
		}
	}
}
