@import "./Form.Field.css";

@layer components {
	.Field--Checkbox {
		&__Options {
			@apply mt-1 p-1;
		}

		&__Option {
			@apply flex items-center gap-1 mb-1 rounded p-2 text-sm transition-all duration-200 ease-out;
			@apply bg-app-light-100 bg-opacity-0;
			@apply dark:bg-app-dark-200 dark:bg-opacity-0;
			@apply text-app-dark-500 text-opacity-70;
			@apply dark:text-app-light-200 dark:text-opacity-70;

			&:hover,
			&--focus {
				@apply bg-opacity-80 text-opacity-100;
				@apply dark:bg-opacity-80 dark:text-opacity-100;
			}

			&--checked {
				@apply bg-opacity-40 text-opacity-100;
				@apply dark:bg-opacity-40 dark:text-opacity-100;

				&:hover {
					@apply bg-opacity-60;
					@apply dark:bg-opacity-20;
				}
			}

			&:active {
				@apply bg-opacity-60;
				@apply dark:bg-opacity-60;
			}
		}

		&__input {
			color-adjust: exact;
			background-origin: border-box;
			@apply appearance-none select-none inline-block flex-shrink-0 align-middle border rounded-sm w-3 h-3;
			@apply focus:outline-none focus:shadow-gradient-focus transition-all duration-200 ease-out;

			@apply border-app-dark-300 border-opacity-80;
			@apply bg-app-light-100 bg-opacity-20;
			@apply dark:border-app-light-300 dark:border-opacity-80;
			@apply dark:bg-app-light-200 dark:bg-opacity-20;

			@apply text-app-dark-300;
			@apply dark:text-app-dark-400;

			&:checked {
				background-image: url("http://localhost:5001/assets/icons/check.svg");
				background-size: 100% 100%;
				@apply bg-no-repeat bg-center bg-current;
				@apply border-app-dark-500 border-opacity-100;
				@apply dark:border-app-light-100 dark:border-opacity-100;
			}
		}
	}
}
